body {margin: 0;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  text-align: center;}
.body-Portofolio {background: rgb(109, 203, 247);}
.body-project {background: white;}
.container {display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;}
.card-Portofolio {  background: rgb(255, 255, 255);
  width: 220px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;}
.card-Project {background: #81c7fc;
  width: 220px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;}
.cards {display: flex;
  gap: 20px;
  flex-wrap: wrap;}
.card:hover {transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);}
.card img {width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;}
.btn {display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  background: #1e293b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  transition: 0.3s;}
.btn:hover {background: #90c0f7;
  color: black;
  transform: translateY(-8px);}
.foto {width: 150px;
  height: 100px;
  object-fit: cover;}

/*Koding style supaya menyesuaikan layar HP*/
@media (max-width: 768px) {
  .cards {flex-direction: column;
    align-items: center;}
  .card{width: 90%;
    max-width: 350px;}
   nav {flex-direction: column;
  align-items: center;} }
nav {background: linear-gradient(135deg, #2f3640, #1e272e);
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 1100px;
  gap: 30px;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);}
nav a {text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 12px;
  transition: 0.3s;}
nav a:hover{color: #81c7fc;}
nav a.active {color: #007bff;
  border-bottom: 2px solid #007bff;}
.hero {background: linear-gradient(135deg, #2f3640, #1e272e);
  color: white;
  border-radius: 20px;
  padding: 40px;
  margin: 20px auto;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);}
.hero-content h1 {font-size: 36px;
  margin-bottom: 15px;}
.hero-content p {font-size: 16px;
  opacity: 0.9;}


