body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  text-align: center;
}
.body-Portofolio {background: rgb(109, 203, 247);}
.body-project {background: white;}

.page {
  text-align: center;
}

.title {
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.card-Portofolio {
  background: rgb(255, 255, 255);
  width: 220px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.card-Project {
  background: #81c7fc;
  width: 220px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.card-profil  {background: rgb(193, 227, 248);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  background: #1e293b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #90c0f7;
  color: black;
  transform: translateY(-8px);
}
.foto {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

/*Koding style supaya menyesuaikan layar HP*/
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card{width: 90%;
    max-width: 350px;}
   nav {
  flex-direction: column;
  align-items: center;
  }
nav a {
  padding: 10px 0;
}
}
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: #000000;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 12px;
  transition: 0.3s;

}
nav a:hover{color: #81c7fc;}
nav a.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}
.hero {
  text-align: center;
  padding: 60px 20px;
}
.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.hero p {
  color: #555;
  margin-bottom: 20px;
}
